<footer id="footer" class=" mt-5 ">

  <div class="footer-top">
    <div class="container">
      <h2 class=" h1 h2-footer">NOXE</h2>
      <div class="row pt-3">
        <div class="col-lg-4 col-md-6 footer-newsletter col-sm-6 pe-sm-5 ">
          <p class=" fw-bold">On the other hand, we denounce with righteous indignation and dislike men.</p>
          <h4 class=" pt-3">Interested to Work With Us</h4>
          <div class="input-group ">
            <input type="email" class="form-control" placeholder="Enter your email address"
              aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-footer" type="button" id="button-addon2">Send</button>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 footer-links col-sm-6 ">
          <h4>Company</h4>
          <ul>
            <li><i class="fa fa-chevron-right footer-link"></i> <a href="#">About Us</a></li>
            <li><i class="fa fa-chevron-right footer-link"></i> <a href="#">Protfolio</a></li>
            <li><i class="fa fa-chevron-right footer-link"></i> <a href="#">Page</a></li>
            <li><i class="fa fa-chevron-right footer-link"></i> <a href="#">FAQ</a></li>
            <li><i class="fa fa-chevron-right footer-link"></i> <a href="#">Reviews</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links col-sm-6">
          <h4>Support</h4>
          <ul>
            <li><i class="fa fa-chevron-right footer-link"></i> <a href="#">Contact Us</a></li>
            <li><i class="fa fa-chevron-right footer-link"></i> <a href="#">Privacy policy</a></li>
            <li><i class="fa fa-chevron-right footer-link"></i> <a href="#">Term of use</a></li>
            <li><i class="fa fa-chevron-right footer-link"></i> <a href="#">Buy & Sell</a></li>
            <li><i class="fa fa-chevron-right footer-link"></i> <a href="#">Review</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 ">
          <div class="footer-info">
            <h4>Contact</h4>
            <ul class=" list-unstyled">
              <li class=" contact-footer">Main Street 32b,NYC</li>
              <li class=" contact-footer"><strong>Phone :</strong> +399 399 233 166</li>
              <li class=" contact-footer"><strong>Email :</strong> Ex.Fex@email.com</li>
            </ul>
            <div class="social-links mt-4 d-flex ">
              <a href="#" class="twitter"><i class="fa-brands fa-twitter "></i></a>
              <a href="#" class="facebook"><i class="fa-brands fa-facebook "></i></a>
              <a href="#" class="youtube"><i class="fa-brands fa-instagram "></i></a>
              <a href="#" class="youtube"><i class="fa-brands fa-linkedin "></i></a>


            </div>
          </div>
        </div>



      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <span>Noxe Transport.</span> All Rights Reserved
    </div>

  </div>
</footer>
