<section id="shipping" class=" py-5 overflow-hidden" >
  <div class="overlay"></div>
  <div class=" py-5 position-relative">
    <div class="container py-5">
      <h2 class="h2-shipping h1 py-3 text-center wow fadeInDown" data-wow-duration="1.2s">Choose The Shipping Method</h2>
      <div class="row py-5 mt-5">
        <div class="col-sm-5 p-2 mx-auto link-shipping wow bounceInLeft" data-wow-duration="2s"><a class=" d-flex justify-content-between align-items-center" routerLink="/truck">
          <span>Trucks</span>
          <i class="fa-solid fa-chevron-right"></i>
        </a></div>
        <div class="col-sm-5 p-2 link-shipping mx-auto wow bounceInRight" data-wow-duration="2s">
          <a class=" d-flex justify-content-between align-items-center" routerLink="/winches">
            <span>Winches</span>
            <i class="fa-solid fa-chevron-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

</section>
