<section class=" py-5 vh-100" id="payment">
  <div class="container py-5">
    <div class="row py-5 text-center ">
      <h3 class=" h2 fw-bold py-5">Payment Detials</h3>
      <ul class=" list-unstyled col-md-9 col-lg-5 mx-auto">
        <li class=" list-pay">
          <a routerLink="/mastercard" class=" text-decoration-none d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <i class="fa-brands fa-cc-mastercard me-3 fs-4"></i>
              <span>Mastercard</span>
            </div>
            <div class="">
              <i class="fa-solid fa-chevron-right"></i>
            </div>
          </a>
        </li>
        <li class=" list-pay">
          <a routerLink="/visa" class=" text-decoration-none d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <i class="fa-brands fa-cc-visa me-3 fs-4"></i>
              <span>Visa</span>
            </div>
            <div class="">
              <i class="fa-solid fa-chevron-right"></i>
            </div>
          </a>
        </li>
        <li class=" list-pay">
          <a routerLink="/cash" class=" text-decoration-none d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <i class="fa-solid fa-people-arrows-left-right me-3 fs-4"></i>
              <span>Cash On Delivery</span>

            </div>
            <div class="">
              <i class="fa-solid fa-chevron-right"></i>
            </div>
          </a>
        </li>

      </ul>
    </div>
  </div>
</section>
